<div class="container">
  <br>
    <h1>Editing Blog</h1>
    <%= render 'form', blog: @blog %> <br>

    <%= link_to 'Vista Previa', @blog, class:'btn btn-success'%>
    <%= link_to 'Regresar a Blog', blogs_path, class:'btn btn-info' %>

</div>
<br>
