<!--Start of blog-->
<section id="general">
        <% if user_signed_in? %>
            <div class="nav navbar-right">
                <%= link_to 'New Blog', new_blog_path, class: 'btn btn-primary' %>
            </div>
        <% end %><!--end user_signed-->
      <nav class="navbar navbar-default">
        <div class="row">
            <div class="col-md-12">
                <div class="latest_blog text-center"><br>
                    <div class="titulo-h2">CITUS School of English blog</div>
                    <br>
                    <br>
                   
                </div>
            </div>
        </div><!--end row-->
      </nav>
     
      <div class="container">
        <div class="row"><br>
                <% @blogs.each do |blog| %>
                <div class="col-xs-6 col-md-4">
                  <div class="img-responsive">
                    <div class="img-resize-post">
                      <img src="/blogs/<%= blog.id %>/cover/<%= blog.cover_filename %>" />

                    </div>
                  </div>
                </div>

                  <div class="col-xs-12 col-md-8">
                    <div class="header_blog_h1"><%= link_to blog.title, blog %></div><br>
                    <p><%= blog.fecha %> | By <%= blog.autor %></p>
                    <div class="blog_content"><%= truncate blog.content, :length => 350  %></div><br>
                    <div class="btn-group">
                    <%= link_to 'Leer mas...', blog, class: 'btn btn-info background-position'%></div><br>
                    <hr>
                  </div>

                    <% if user_signed_in? %>
                     <div class="form-group"> <br>
                       <%= link_to 'New Blog', new_blog_path, class:'btn btn-primary' %>
                       <%= link_to 'Show', blog, class: 'btn btn-info' %>
                       <%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-success' %>
                       <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                    </div>
                  <% end %>
                <% end %>
            </div>
            <br>
            <ul class="pager">
              <%= will_paginate @blogs, renderer: BootstrapPagination::Rails %>
            </ul>
        </div><!--end row-->


    </div><!--End of container-->
</section><!--End section-->
<!--End of blog-->

<style media="screen">
.navbar-default {
background-color: #ff0000;
border-color: #0069ff;
}
.navbar-default .navbar-brand {
color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
color: #ffffff;
}
.navbar-default .navbar-text {
color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #ffffff;
background-color: #0069ff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
color: #ffffff;
background-color: #0069ff;
}
.navbar-default .navbar-toggle {
border-color: #0069ff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
background-color: #0069ff;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
border-color: #ffffff;
}
.navbar-default .navbar-link {
color: #ffffff;
}
.navbar-default .navbar-link:hover {
color: #ffffff;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #0069ff;
  }
}
</style>
