<section id="general">
  <nav class="navbar navbar-default">
    <div class="row">
        <div class="col-md-12">
            <div class="latest_blog text-center"><br>
                <div class="titulo-h2"><%= @blog.title %></div>
                <div class="titulo-p"><%= @blog.fecha %> | By <%= @blog.autor %></div>
                <br>
                <br>
                <!-- <p></p> -->
                <!--<p>Novedades importantes de todo el trabajo que hacemos en nuestro Instituto y el porque la gente nos elige</p>-->

            </div>
        </div>
    </div><!--end row-->
  </nav>

  <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="latest_blog text-center">
              <br>
              <%= image_tag "/blogs/#{@blog.id}/cover/#{@blog.cover_filename}" if @blog.cover_filename? %>
              <br><br>
              <p><%= @blog.content %></p>
             <%# image_tag @blog.cover.url  if @blog.cover?%>
            <br>
            <br>
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-success' %>
            <% end %>
            <%= link_to 'Regresar a Citus Blog', blogs_path, class: 'btn btn-primary' %>
            <br>
          </div><!-- end latest_blog text-center  -->
        </div><!--End col-md-12-->
      </div><!--End row-->
  </div><!--End Container-->
</section>
<hr>

<br>
<style media="screen">
.navbar-default {
background-color: #ff0000;
border-color: #0069ff;
}
.navbar-default .navbar-brand {
color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
color: #ffffff;
}
.navbar-default .navbar-text {
color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #ffffff;
background-color: #0069ff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
color: #ffffff;
background-color: #0069ff;
}
.navbar-default .navbar-toggle {
border-color: #0069ff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
background-color: #0069ff;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
border-color: #ffffff;
}
.navbar-default .navbar-link {
color: #ffffff;
}
.navbar-default .navbar-link:hover {
color: #ffffff;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #0069ff;
}
}
</style>
<br>