<div class="container">
  <br>
    <h1>Editing Novedad</h1>

    <%= render 'form', novedad: @novedad %> <br>

    <%= link_to 'Vista Previa', @novedad, class:'btn btn-success' %>
    <%= link_to 'Regresar a Novedad', novedades_path, class: 'btn btn-default' %>
</div>
<br>
<style>
  #footer {
    margin-top: 10.80;
  }
</style>
