<!--Start of novedades-->
    <section id="novedades">
        <div class="novedades_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="novedades_header text-center">
                            <h2>Novedades</h2>
                            <!--<p>Hoy en día, en un mundo cada vez más globalizado y sobre todo conectado, el Inglés se ha convertido en algo imprescindible.</p> -->
                        </div>
                    </div>
                </div>
                <!--End of row-->
                <section id="carousel">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                                    <!-- Carousel indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                                    </ol>
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="img-thumbnail">
                                                      <%= image_tag('ingles1.jpg', :alt => 'ingles1') %>
                                                    </div><br><br>
                                                    <div class="novedades_content">
                                                      <!--<p>Hoy en día, en un mundo cada vez más globalizado y sobre todo conectado, el Inglés se ha convertido en algo imprescindible.</p> -->
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="img-thumbnail">
                                                      <%= image_tag('ingles2.jpg', :alt => 'ingles2') %>
                                                    </div><br><br>
                                                    <div class="novedades_content">
                                                      <!--<p>Hoy en día, en un mundo cada vez más globalizado y sobre todo conectado, el Inglés se ha convertido en algo imprescindible.</p>-->
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!--End of item with active-->
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="img-thumbnail">
                                                      <%= image_tag('ingles3.jpg', :alt => 'ingles3') %>
                                                    </div><br><br>
                                                    <div class="novedades_content">
                                                      <!--<p>Hoy en día, en un mundo cada vez más globalizado y sobre todo conectado, el Inglés se ha convertido en algo imprescindible.</p>-->
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="img-thumbnail">
                                                      <%= image_tag('ingles4.jpg', :alt => 'ingles4') %>
                                                    </div><br><br>
                                                    <div class="novedades_content">
                                                     <!-- <p>Hoy en día, en un mundo cada vez más globalizado y sobre todo conectado, el Inglés se ha convertido en algo imprescindible.</p>-->
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!--ENd of item-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of row-->
                    </div>
                    <!--End of container-->
                </section>
                <!--End of carousel-->
            </div>



        </div>
        <!--End of container-->
    </section>
    <!--end of novedades-->
      <br><br>
    <div class="container">
      <% if user_signed_in? %>
        <div class="nav navbar-right">
          <%= link_to 'New Novedad', new_novedad_path ,class: 'btn btn-primary'%>
        </div>
        <% end %>
        <br>
    <% @novedades.each do |novedad| %>
    <h2><%= link_to novedad.title, novedad %></h2><br>
    <p><%= truncate novedad.content, :length => 350 %></p><br>
    <br>
    <%= link_to 'Leer mas...', novedad, class: 'btn btn-info'%>
    <br>
    <br>
    <% if user_signed_in? %>
    <div class="form-group">
      <%= link_to 'Show', novedad, class: 'btn btn-info' %>
      <%= link_to 'Edit', edit_novedad_path(novedad), class: 'btn btn-success' %>
      <%= link_to 'Destroy', novedad, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
    <% end %>
    <% end %>
  </div>
