<div class='container'>
  <br>
   <h2>Nuevas Novedades</h2>

    <%= render 'form', novedad: @novedad %> <br>
    <%= link_to 'Regresar a Novedad', novedades_path, class: 'btn btn-primary' %>
</div>
<br>

<style>
	#footer {
		margin-top: 10.75;
	}
</style>

