<section id="novedades">
    <div class="novedades_overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="novedades_header text-center">
                        <h2><%= @novedad.title %></h2>
                        <p><%= @novedad.content %></p>
                        <p></p><br>
                        <%= image_tag"/novedades/#{@novedad.id}/cover/#{@novedad.cover_filename}" if @novedad.cover_filename? %>
                        <br><br>
                        <% if user_signed_in? %>
                        <%= link_to 'Edit', edit_novedad_path(@novedad), class: 'btn btn-success' %>
                        <% end %>
                        <%= link_to 'Regresar a Novedad', novedad_path, class: 'btn btn-primary' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    #footer {
        margin-top: 10.75;
    }
</style>
