<!--Start of cursos-->
    <section id="cursos">
        <div class="cursos_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cursos_header text-center">
                            <h2>Cursos</h2>
                            <p>Nuestros cursos te preparan para desarrollar tus habilidades de comunicación en el ámbito escolar, laboral, turístico, de negocios e intercambio social.</p>
                        </div>
                    </div>
                </div>
                <!--End of row-->
                <section id="carousel">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                              <div class="cursos_overlay">
                              <div class="col-md-6 fondo_cursos_general text-center">
                                <h1>Cursos de preparaci&oacute;n..!</h1><br>
                                <div class="titulo-h2">Ex&aacute;menes de Cambridge</div><br>
                                <div class="titulo-h3">¿Querés saber por qué es tan importante rendir un examen internacional?</div><br>
                               <%= link_to (image_tag('examenes.png')), 'http://www.cambridge.org/'%>
                              <%= link_to (image_tag("examenes.png")), 'http://www.cambridge.org/'%>
                              </div><!--End col-md-6 text-center-->

                              <div class="col-md-6 fondo_cursos_general text-center">
                                <%= image_tag 'ingles_chicos.jpg', :alt =>'cursos' %>
                              </div><!--End col-md-6 text-center-->
                              <div class="col-md-6 fondo_cursos_general text-center">
                                <%= image_tag('cursos_conversation.jpg', :alt => 'cursos') %>
                              </div><!--End col-md-6 text-center-->
                              <div class="col-md-6 fondo_cursos_general text-center">
                                <br><br>
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                      <li data-target="#myCarousel" data-slide-to="1"></li>
                                      <li data-target="#myCarousel" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                      <div class="item active">
                                        <%= image_tag('ingles1.jpg', :alt => 'ingles1')%>
                                        <div class="titulo-h3">Estudi&aacute; con nosotros... Animate!</div>
                                      </div>

                                      <div class="item">
                                        <%= image_tag('motivacion.jpg', :alt => 'motivation')%>
                                        <div class="titulo-h3">Ingl&eacute;s para chicos!</div>
                                      </div>

                                      <div class="item">
                                        <%= image_tag('ingles4.jpg', :alt => 'ingles4')%>
                                        <div class="titulo-h3">Estamos interesados en Vos!</div>
                                      </div>
                                    </div>
                                  </div>
                                  </div><!--End col-md-6 text-center-->  <div class="col-md-6 fondo_cursos_general text-center">
                                    <br><br>
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                          <li data-target="#myCarousel" data-slide-to="1"></li>
                                          <li data-target="#myCarousel" data-slide-to="2"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">
                                          <div class="item active">
                                            <%= image_tag('viajar.jpg', :alt => 'ingles1')%>
                                            <div class="titulo-h3">Viajar a otros lugares!!</div>
                                          </div>

                                          <div class="item">
                                            <%= image_tag('aprender.jpg', :alt => 'motivation')%>
                                            <div class="titulo-h3">Querer es poder! Tu puedes..!!</div>
                                          </div>

                                          <div class="item">
                                            <%= image_tag('adultos.jpg', :alt => 'Adultos')%>
                                            <div class="titulo-h3">Ingl&eacute;s para Negocios tu oportunidad!</div>
                                          </div>
                                        </div>
                                      </div>
                                </div><!--End col-md-6 text-center-->
                                <div class="col-md-6 fondo_cursos_general text-center">
                                    <%= image_tag 'proposito.jpg', :alt=> 'cursos' %>
                                </div><!--End col-md-6 text-center-->

                            </div>
                        </div>
                        <!--End of row-->
                      </div><!-- End cursos_overlay -->
                    </div>
                    <!--End of container-->
                </section>
                <!--End of carousel-->
            </div>

        </div>
        <!--End of container-->
    </section>
    <!--end of cursos-->
<br>
<div class="container">
<h1>Cursos Citus School of English</h1><br>
      <% if user_signed_in? %>
      <div class='nav navbar-right'>
        <%= link_to 'New Curso', new_curso_path, class: 'btn btn-primary' %>
      </div>
      <% end %>

    <% @cursos.each do |curso| %>
        <h2><%= link_to curso.title, curso %></h2>
        <p><%= curso.content %></p>

        <% if user_signed_in? %>
        <div class="form-group">
           <%= link_to 'Show', curso, class: 'btn btn-info' %>
           <%= link_to 'Edit', edit_curso_path(curso), class: 'btn btn-success' %>
           <%= link_to 'Destroy', curso, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      <% end %>
    <% end %>
</div>
</div><!-- end container -->
<br>
