<div class="container">
  <br>
    <h1>Nuevos Cursos</h1>

    <%= render 'form', curso: @curso %> <br>
    <%= link_to 'Regresar a Cursos', cursos_path, class: 'btn btn-primary' %>

</div>

<br>
<br>

<style>
#footer {
  margin-top: auto;
}
</style>
