<section id="cursos">
    <div class="cursos_overlay">
      <div class="container">
        <div class="row">
        <div class="col-md-12">
          <div class="cursos_header text-center">
              <h2><%= @curso.title %></h2><br>
              <p><%= @curso.content %></p><br>

              <div class="img-resize image-responsive">
                <%= image_tag "/cursos/#{@curso.id}/cover/#{@curso.cover_filename}" if @curso.cover_filename? %>

              <br>
              <br>

              <% if user_signed_in? %>
                <%= link_to 'Edit', edit_curso_path(@curso), class: 'btn btn-success' %>
              <% end %>
              <%= link_to 'Regresar a Cursos', cursos_path, class: 'btn btn-default' %>
              <br><br>
           </div> <!--end general_header-->
        </div><!--end col-md-12-->
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
<div>

</section><!-- end section -->
<br>
