<%= form_with(model: nosotro, local: true) do |f| %>
  <% if nosotro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nosotro.errors.count, "error") %> prohibited this nosotros from being saved:</h2>

      <ul>
      <% nosotro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :titutlo %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :contenido %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :Upload_Image, class:'control-group' %>
    <%= f.file_field :cover, class: 'btn btn-info' %>
    <%= f.label :Subir_imagenes_con_formato_jpg_jpeg_png %>
  </div>


  <div class='actions'>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
