<div class="container">
  <br>
    <h2>Editing Nosotros</h2>

    <%= render 'form', nosotro: @nosotro %><br>

    <%= link_to 'Show', @nosotro , class:'btn btn-success'%>
    <%= link_to 'Regesar a Nosotros', nosotros_path , class: 'btn btn-primary'%>
</div>
<br>

<style>
  #footer {
    margin-top: 10.75%;
  }
</style>
