<!--Start of conocenos-->
    <section id="cursos">
        <div class="cursos_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cursos_header text-center">
                            <h2>Estudi&aacute;</h2>
                            <p>Citus School of English se destaca por su metodología de enseñanza, basada en la conversación, como modalidad esencial para lograr el aprendizaje natural del idioma..</p>
                        </div>
                    </div>
                </div>
                <!--End of row-->
                <section id="carousel">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="5000">
                                    <!-- Carousel indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                                    </ol>
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- <div class="img-thumbnail">
                                                      <%= image_tag('ingles1.jpg', :alt => 'ingles1') %>
                                                    </div><br><br> -->
                                                    <div class="cursos_content">
                                                      <h2>Hoy en día, en un mundo cada vez más globalizado y sobre todo conectado, el Inglés se ha convertido en algo imprescindible.</h2>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="img-thumbnail">
                                                      <%= image_tag('ingles2.jpg', :alt => 'ingles2') %>
                                                    </div><br>
                                                    <!-- <div class="cursos_content">
                                                      <h1>Hoy en día, en un mundo cada vez más globalizado y sobre todo conectado, el Inglés se ha convertido en algo imprescindible.</h1>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <!--End of item with active-->
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="img-thumbnail">
                                                      <%= image_tag('ingles3.jpg', :alt => 'ingles3') %>
                                                    </div><br>
                                                    <!-- <div class="cursos_content">
                                                      <h1>Hoy en día, en un mundo cada vez más globalizado y sobre todo conectado, el Inglés se ha convertido en algo imprescindible.</h1>
                                                    </div> -->

                                                </div>
                                                <div class="col-md-6">
                                                    <!-- <div class="img-thumbnail">
                                                      <%= image_tag('ingles4.jpg', :alt => 'ingles4') %>
                                                    </div><br> -->
                                                    <div class="cursos_content">
                                                      <h1>Hoy en día, en un mundo cada vez más globalizado y sobre todo conectado, el Inglés se ha convertido en algo imprescindible.</h1>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!--End of item-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of row-->
                    </div>
                    <!--End of container-->
                </section>
                <!--End of carousel-->
            </div>

        </div>
        <!--End of container-->
    </section>
    <!--end of nosotros-->

<!-- Start of nosotros section -->
    <br>
    <div class="container">
        <% if user_signed_in? %>
        <div class="nav navbar-right">
                <h2>Nuevo Nosotros!</h2>
         <%= link_to 'New Nosotros', new_nosotro_path, class: 'btn btn-primary' %>
       </div>
       <% end %>
       <br>
           <% @nosotros.each do |nosotro| %>
              <h2><%= link_to nosotro.title, nosotro %></h2>
               <p><%= truncate nosotro.content, :length => 450  %></p><br>
               <%= link_to 'Leer mas...', nosotro, class: 'btn btn-info'%>
                <br><br>
               <% if user_signed_in? %>
               <div class="form-group">
                 <% link_to 'Show', nosotro, class: 'btn btn-info' %>
                 <% link_to 'Edit', edit_nosotro_path(nosotro), class:'btn btn-success' %>
                 <% link_to 'Destroy', nosotro, method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-danger' %>
                 <% end %>
              <% end %>
              </div>
    </div><!-- end container  -->

    <!--Start of volunteer-->
    <section id="volunteer">
        <div class="container">
            <div class="row vol_area">
                <div class="col-md-8">
                    <div class="volunteer_content">
                        <h3>Estudi&aacute; con <span>nosotros</span></h3>
                        <p>Ingl&eacute;s con nosotros es muy f&aacute;cil , poseemos un sistema rapido y efectivo ENTERATE! </p>
                        <p>EX&Aacute;MENES DE LA UNIVERSIDAD DE CAMBRIDGE Y OTROS</p>
                        <p>Conoc&eacute; todo sobre los Ex&aacute;menes INTERNACIONALES de ingl&eacute;s del Trinity College of London</p>
                        <p>Conoc&eacute; todo sobre los EX&Aacute;MENES INTERNACIONALES de ingl&eacute;s del Trinity College of London</p>
                        <p>ES HORA DE ALCANZAR TUS OBJETIVOS..!!!</p>
                    </div>
                </div>
                <!--End of col-md-8-->
                <div class="col-md-3 col-md-offset-1">
                    <div class="join_us">
                        <%= link_to 'Enterate ', novedades_index_path(@novedades), class:'vol_cust_btn' %><br><br><br>
                        <%= link_to 'Exámenes', exams_path(@examens), class:'vol_cust_btn' %>

                      </div>
                </div>
                <!--End of col-md-3-->
            </div>
            <!--End of row and vol_area-->
        </div>
        <!--End of container-->
    </section>
    <!--end of volunteer-->
    <br>
