<section id="general">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="latest_blog text-center">
          <h2><%= @nosotro.title %></h2><br>
          <%= image_tag "/nosotros/#{@nosotro.id}/cover/#{@nosotro.cover_filename}" if @nosotro.cover_filename? %><br><br>
          <p><%= @nosotro.content %></p><br>

    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_nosotro_path(@nosotro), class: 'btn btn-success' %>
    <% end %>

      <%= link_to 'Regresar a Conocenos', nosotros_path , class: 'btn btn-primary'%>
    </div><!-- End row-->
  </div><!--End container-->
</section>
<br>


<style>
  #footer {
    margin-top: 12.90%;
  }
</style>

