<div class="container">
      <div class="jumbotron">
        <div class="latest_inicio text-center">
            <h2>Gracias por enviar tu mensaje...!!!</h2>
            <br>
              <p>En breve estaremos en contacto contigo!</p><br><br>
              <div class="form-group">
            <%= link_to 'Volver a Citus', root_path , class: 'btn btn-primary btn-lg'%><br><br>
            <%= image_tag  "mails.jpg" %>
        </div></div>
      </div><!--simple jumbotron-->
<br>
</div>
<br>

<style>
  #footer {
    margin-top: 15.15%;
}
</style>
