<!--Start of contact-->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact_area text-center">
                    <h3>HACENOS TU CONSULTA</h3>
                    <p>Completa con tus datos y en breve estaremos en contacto.</p>
                </div>
            </div>
        </div>
        <!--End of row-->
        <!-- Begin Address -->
        <div class="row">
                  <div class="col-md-6">
                      <div class="office">
                          <div class="title">
                              <h4>Info CITUS School of English</h4>
                          </div>
                          <div class="office_location">
                              <div class="address">
                                  <i class="glyphicon glyphicon-map-marker"><span>Luis Agote 2585, Cordoba Argentina.</span></i>
                                  <div class="phone">
                                  <i class="glyphicon glyphicon-earphone"><span>+ 54 0351 466-4378</span></i>
                                </div>
                              </div>
                              <!-- begin google maps -->
                           <div id="map">
                           <script>
                             function initMap() {
                               var citus = { lat: -31.4256497, lng: -64.2210747 };
                               title: 'Citus School of English'
                               var map = new google.maps.Map(document.getElementById('map'), {
                                 zoom: 15,
                                 center: citus
                               });
                               var marker = new google.maps.Marker({
                                 position: citus,
                                 map: map
                               });
                             }
                           </script>

                           <!-- Googe maps api -->
                           <script async defer
                           src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDldC5Sa420NZGdOfSZesZSe5Bt7ChzheI&callback=initMap">
                           </script>
                          </div> <!-- End-Google-Maps-->
                        </div><!-- End office location -->
                      </div><!-- End office -->
                  </div><!-- End col-md-6 -->
                  <!-- End Address -->

            <div class="col-md-6">
                <div class="msg">
                    <div class="msg_title">
                      <h4>&nbsp;&nbsp;&nbsp;Formulario de Contacto CITUS</h4>
                    </div>
                    <div class="form_area">
                        <!-- CONTACT FORM -->
                        <div class="contact-form wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
                            <div id="message"></div>
                                <div class="form-group">
                                    <div class="col-sm-12"><!--Nombre -->
                                        <%= form_for @contact do |f|%>

                                        <%= f.text_field :name, required: true, class: 'form-control' %>
                                        <%= f.label :Nombre %>

                                        <br>
                                        <br>
                                        <%= f.email_field :email, required: true, class: 'form-control' %>
                                        <%= f.label :Email %>
                                        <br>
                                        <br>
                                    </div>
                                    </div>


                                <div class="form-group">
                                    <div class="col-sm-12"><!-- Mensaje -->
                                        <%= f.text_area :message, as: :text, cols: 33, rows: 5, class: 'form-control' %>
                                        <%= f.label :Mensaje %>
                                        

                                        <div class="hidden">
                                          <%= f.label :nickname %><br>
                                          <%= f.text_field :nickname, hint: 'leave this field blanck', class: 'form-control' %>
                                        </div>

                                        <p style='margin-top: 20px;'><%= f.submit 'Send Message' ,class:'btn btn-info'%></p><br><br>

                                        <% end %>
                                      </div>
                                    </textarea>
                                    <br>
                              </div><!--End mensaje-->
                          </div><!--End contact-form  -->
                      </div><!--End form Area -->
                  </div><!--End-class-msg -->
              </div><!-- End col-md-6 -->
          </div><!--End of row-->
      </div><!--End of container-->
</section><!--End of contact-->
<br><br>
