


/*
font-family: 'Roboto Slab', serif;
*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

/*
font-family: 'Lato', sans-serif;
*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

/*
font-family: 'Raleway', sans-serif;
*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

/*
font-family: 'Open Sans', sans-serif;
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic);

/*
font-family: 'Roboto', sans-serif;
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

/*UNIVERSAL CODE*/

* {
    margin: 0;
    padding: 0;
}
.alignleft {
    float: left;
    margin-right: 15px
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto
}
.floatleft {
    float: left
}
.floatright {
    float: right
}
.fix {
    overflow: hidden
}
.clear {
    clear: both
}
.container {
    transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;

}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a,
a:hover,
a:focus,
a:visited,
a:hover {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    /*font-family: bruum_fyregular, helveica, arial;*/
}
p {
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    border-color: #000;
    border-radius: 1%;
    /* margin-top: 3%; */
}
html {
    /*height: auto;*/
    height: 100%;
}
body {
}

.img-rounded {
    max-width: 100%;
    height: auto;
    border-radius:1em;
}
/*Remove chrome Input Field’s Unwanted Yellow Background Color*/
 /* tira error cuando precompilo $be rake assets:precompile RAILS_ENV=production */

/*input: -webkit-autofill,
input: -webkit-autofill:focus {
input: -webkit-autofill:hover,
    -webkit-box-shadow: 0 0 0 100px white inset !important;
}*/


/*Input focus color removed*/

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

/*Bootstrap Form Control Focus*/

.form-control:focus {
    border-color: #fff;
    border: 0px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/***************************/

.zero_mp {
    padding: 0;
    margin: 0;
}
.margin_btm {
    margin-bottom: 0px !important;
}
.sections{
    padding: 80px 0;
    overflow: hidden;
    position: relative;

}
.min-spacing{
    padding: 50px 0;
    overflow: hidden;
    position: relative;
}
/***********************************************/


/*header*/


/*Header Top header*/

#header .top_header {
    min-height: 50px;
    background: #FBFBFB;
    border-bottom: 2px solid #F2F2F2;
    padding-top: 15px;
}
#header .top_header .address {
    border-right: 1px solid #E6E5E5;
}
#header .top_header .address p {
    font-size: 12px;
    padding-top: 2px;
    color: #646464;
    font-family: 'Open Sans', sans-serif;
}
#header .top_header .phone p {
    color: #646464;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1px;
    display: inline-block;
}
#header .top_header .address i,
#header .top_header .phone i {
    padding: 3px 5px;
    font-size: 15px;
}
#header .top_header .social_icon i {
    padding: 0 5px;
    color: #787878;
    font-size: 12px;
    font-weight: 700;
}
#header .top_header .social_icon i:hover {
    color: #0069ff;
}

/*End of top header*/

#header .header_menu {
    min-height: 80px;
    border-bottom: 2px solid red; /*border line header*/
    z-index: 9999
}
#header .header_menu .navbar {
    border: 0px solid transparent;
}
#header .header_menu .custom_navbar-brand {
    padding-left: 0;
}
#header .header_menu .navbar-default {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}
#header .header_menu .navbar-default .navbar-nav>.active>a,
#header .header_menu .navbar-default .navbar-nav>.active>a:focus,
#header .header_menu .navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(255,255,255,1);
}
#header .header_menu .main_menu {
    padding-top: 20px;
}
#header .header_menu ul.main_menu li a {
    color: #393939;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}
#header .header_menu ul.main_menu li a:hover {
    color: #0069ff; /*color letter*/
}
#header .header_menu ul.main_menu li.active a {
    color: #0069ff; /*color letter*/
}
#header .header_menu ul.main_menu li,
#header .header_menu ul.main_menu li.active a {
    display: inline-block;
    position: relative;
}
#header .header_menu ul.main_menu li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    margin-top: 6px;
}
#header .header_menu ul.main_menu li:hover:after,
#header .header_menu ul.main_menu li.active:after {
    width: 90%;
    background: #0069ff;
}

/*Slider*/

#slider {
    /*min-height: 400px;*/
    min-height: auto;
    min-width: auto;
}
#slider .slider_text {
    padding-bottom: 13%;
}
#slider .slider_text h2 {
    font-size: 52px;
    padding: 10px 0;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
#slider .slider_text h3 {
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
#slider .slider_text p {
    font-size: 17px;
    padding-bottom: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
#slider .slider_text a.custom_btn {
    font-size: 14px;
    color: #fff;
    padding: 15px 25px;
    background: #0069ff;
    border-radius: 2px;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
#slider .slider_text h2,
#slider .slider_text h3,
#slider .slider_text p,
#slider .slider_text a.custom_btn {
    text-transform: uppercase;
}
#slider .slider_text h3 {
    font-size: 45px;
    padding: 10px 0;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
#slider .slider_overlay {
    position: relative;
}
#slider .slider_overlay:after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*Slider Fade In*/

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}


/* General*/

#general {
    min-height: 50px;
    margin-top: 0px;
    /*padding: 80px 0;*/
    background: #fff;
}
#general p {
    display: inline-block;
}
#general .latest_general {
}
#general .latest_general h2 {
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    color: #222222;
}
#general .latest_general p {
    padding-bottom: 45px;
    font-size: 16px;
    color: #222222;
    font-family: 'Open Sans', sans-serif;
}
#general .single_general_item {
    border: 1px solid #d1d3d1;
}
#general .general_content {
    padding: 15px;
    height: 250px;
}
#general .general_content h3 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #454444;
    font-family: 'Roboto Slab', serif;
}
#general .expert {
    padding-bottom: 20px;
    color: #aeadad;
}
#general .expert span.time {
    padding-right: 10px;
    border-right: 1px solid;
}
#general .expert span.admin {
    padding-left: 5px;
    color: #aeadad;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
#general .general_news .general_img img {
    height: 230px;
    width: 100%;
}
#general .general_news span.right_msg span {
    font-size: 14px;
    color: #aeadad;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
#general .expert a {
    color: #aeadad;
}
#general .expert p.right_side {
    padding-left: 110px;
}
#general p.general_news_content {
    color: #646464;
    font-size: 14px;
    padding-bottom: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#general a.general_link {
    text-transform: uppercase;
    font-weight: 500;
    color: #545353;
    transition: 0.7s;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
#general a.general_link:hover {
    color: #069ff;
}


/* En General */
/*Volunteer*/

#volunteer {
    min-height: 390px;
    /*background: #000000;*/
    background: url(../assets/novedades_background.jpg) no-repeat scroll top center / cover;
    /*background: url(../assets/novedades_background-1-f3df79a390e66f7e8f0d515557302f74cf0b70b8b533119d14c04993588f67c7.jpg) no-repeat scroll top center / cover;*/


}
#volunteer .volunteer_content h3 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}
#volunteer .volunteer_content h3 span {
    color: #0069ff;
}
#volunteer .volunteer_content p {
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
#volunteer .join_us {
    padding-top: 55px;
}
#volunteer .vol_area {
    padding: 80px 0;
}
#volunteer .join_us a.vol_cust_btn {
    background: #0069ff;
    color: #fff;
    padding: 8px 50px;
    border: 1px solid #0069ff;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

/*Portfolio*/

#portfolio {
    min-height: 780px;
    padding: 80px 0;
}

#portfolio .portfolio_title h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-family: 'Roboto Slab', serif;
    color: #222222;
}
#portfolio .portfolio_title p {
    font-size: 16px;
    color: #393939;
    padding-bottom: 25px;
    padding-top: 0;
    font-family: 'Open Sans', sans-serif;
}

/*Customise Portfolio*/

#portfolio ul.menu li button {
    padding: 6px 15px;
}
#portfolio ul.portfolio_custom_menu li button {
    background: #f6f6f6;
    border: 1px solid #e9e9e9;
    color: #726e6e;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    width: 125px;
    font-size: 12px;
    padding-top: 8px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}
#portfolio ul.portfolio_custom_menu li {
    padding: 10px 0px;
}
#portfolio ul.portfolio_custom_menu li button:hover {
    background: #0069ff;
    color: #fff;
}
#portfolio ul.portfolio_custom_menu li button.btn_active {
    background: #0069ff;
    box-shadow: inset 0 1px 10px hsla(0, 0%, 100%, 0);
    color: #fff;
}
#portfolio .notes .note .img_overlay {
    background: rgba(21, 21, 18, 0.92);
    z-index: 1;
    position: absolute;
    width: 94%;
    height: 94%;
    top: 3%;
    left: 3%;
    color: #fff;
    opacity: 0;
    transition: 0.7s;
}
#portfolio .notes .note .img_overlay p {
    position: relative;
    top: 45%;
    opacity: 0;
    transition: 0.7s;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
#portfolio .notes .note:hover .img_overlay,
#portfolio .notes .note:hover .img_overlay p {
    opacity: 10;
}

/*Achivment*/

div#achivement {
    overflow: hidden;
}
.achivment_padding {
    padding: 80px 0;
}
#examenes {
    min-height: 440px;
    background: #bdbebd;
    border-bottom: 1px solid #8c8e8c;
}
.examenes_header {
    padding-top: 80px;
    text-align: center;
    color: #fff;
}

#examenes {
    background: url(../assets/img1-8f0378a0acaea6eb529ab20e0283e3be461503190e5f4721bc93641277bd6ba9.jpg) no-repeat scroll top center / cover;
    color: #fff;
}
.examenes_img_overlay {
    position: relative;
    padding: 80px 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.52);
}
.examenes_header-h2 {
    text-transform: uppercase;
    font-size: 15px;
    /*font-weight: 700;*/
    padding-bottom: 2px;
    font-family: 'Roboto Slab', serif;
}
.examenes_header p {
    font-size: 16px;
    padding-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 15px;
}
.examenes_text {
    color: #fff;
    font-weight: 700;
}
.sigle_examenes_item {
    padding-top: 20px;
    padding-bottom: 0px;
}
.sigle_examenes_item img {
    padding-bottom: 20px;
    height: 90px;
}
.sigle_examenes_item i {
    font-size: 60px;
    padding: 10px;
    color: #0069ff;
}
.examenes_text span {
    font-size: 32px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}
.examenes_text p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 10px;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    margin-top: 10px;
}
.content-p {
    padding-bottom: 45px;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }

/*cursos*/

#cursos {
    min-height: 550px;
    background: #fff;
    color: #000;
    padding: 80px 0px;
}
#cursos .cursos_header {
    padding-bottom: 50px;
}
#cursos .cursos_header h2 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    color: #222222;
}
.cursos_header.text-center p {
    color: #393939;
    /*text-transform: uppercase;*/
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#cursos .cursos_text {
    padding: 30px 30px 0;
    background: #eff0f2;
    min-height: 279px;
}
#cursos .cursos_item img {
    width: 100%;
}
#cursos .cursos_text {
    padding: 30px 30px 0;
    width: 100%;
}
#cursos .cursos_text h4 {
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 700;
    color: #454444;
    font-family: 'Roboto Slab', serif;
}
#cursos .cursos_text h6 {
    padding-bottom: 20px;
    font-size: 14px;
    color: #6c6b6b;
    font-family: 'Roboto Slab', serif;
}
#cursos .cursos_text p {
    font-size: 14px;
    color: #646464;
    padding-bottom: 35px;
    font-family: 'Open Sans', sans-serif;
}
#cursos a.cursos_btn {
    background: #101010;
    padding: 5px 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    transition: 0.7s ease;
    font-family: 'Open Sans', sans-serif;
}
#cursos a.cursos_btn:hover {
    background: #0069ff;
}
#cursos .cursos_news {
    padding-bottom: 27px;
}
.cursos_news_text {
    display: block;
    overflow: hidden;
}
.cursos_news_text h4 {
    color: #454444;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
#cursos .cursos_news_text p {
    padding-top: 10px;
    font-size: 14px;
    color: #646464;
    font-family: 'Open Sans', sans-serif;
}
#cursos .cursos_news_img {
    padding-right: 10px;
}

/*novedades*/

#novedades {
    color: #fff;
    background: url(../assets/novedades_background-1-f3df79a390e66f7e8f0d515557302f74cf0b70b8b533119d14c04993588f67c7.jpg) no-repeat scroll top center / cover;
}
.novedades_overlay {
    padding: 80px 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
}
#novedades .novedades_header {
}
#novedades .novedades_header h2 {
    font-size: 46px; /*modificado por el estilo font-family: 'Architects Daughter', cursive;* -- anterior 36px*/
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: 'Galindo', cursive;
    color: #fff;
}
#novedades .novedades_header p {
    font-size: 20px;
    color: #fff;
    font-family: 'Galindo', cursive;
    /*font-family: 'Open Sans', sans-serif;*/
}

/*Latest Blog*/

#blog {
    min-height: 500px;
    padding: 80px 0;
    /*background: #E0EBF5;*/
    background: url(../assets/novedades_background-1-f3df79a390e66f7e8f0d515557302f74cf0b70b8b533119d14c04993588f67c7.jpg) no-repeat scroll top center / cover;


}
#blog p {
    display: inline-block;
}
#blog .latest_blog {
}
#blog .latest_blog h2 {
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    color: #222222;
}
#blog .latest_blog p {
    padding-bottom: 45px;
    font-size: 16px;
    color: #646464;
    font-family: 'Open Sans', sans-serif;
}
#blog .single_blog_item {
    border: 1px solid #d1d3d1;

}
.header_blog_h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 35px;
}
#blog .blog_content {
    padding: 15px;
    height: 250px;
}
#blog .blog_content h3 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #454444;
    font-family: 'Roboto Slab', serif;
}
#blog .expert {
    padding-bottom: 20px;
    color: #aeadad;
}
#blog .expert span.time {
    padding-right: 10px;
    border-right: 1px solid;
}
#blog .expert span.admin {
    padding-left: 5px;
    color: #aeadad;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
#blog .blog_news .blog_img img {
    height: 230px;
    width: 100%;
}
#blog .blog_news span.right_msg span {
    font-size: 14px;
    color: #aeadad;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
#blog .expert a {
    color: #aeadad;
}
#blog .expert p.right_side {
    padding-left: 110px;
}
#blog p.blog_news_content {
    color: #646464;
    font-size: 14px;
    padding-bottom: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#blog a.blog_link {
    text-transform: uppercase;
    font-weight: 500;
    color: #545353;
    transition: 0.7s;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
#blog a.blog_link:hover {
/*    color: #0069ff; */
    color: red;

}


/*Inicio */
#inicio {
    min-height: 500px;
    padding: 80px 0;
    background: #B70A12;
}
#inicio p {
    display: inline-block;
}
#inicio .latest_inicio {
}
#inicio .latest_inicio h2 {
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 700;

    font-family: bruum_fyregular;
    /*text-transform: uppercase;*/
    /*font-family: 'Roboto Slab', serif;*/
    color: 000;
}
#inicio .latest_inicio p {
    padding-bottom: 10px;
    font-size: 16px;
    font-family: 'Happy Monkey', cursive;
    color: white;
}
#inicio .single_inicio_item {
    border: 1px solid #d1d3d1;
}
#inicio .inicio_content {
    padding: 15px;
    height: 250px;
}
#inicio .inicio_content h3 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #454444;
    font-family: 'Roboto Slab', serif;
}
#inicio .expert {
    padding-bottom: 20px;
    color: #aeadad;
}
#inicio .expert span.time {
    padding-right: 10px;
    border-right: 1px solid;
}
#inicio .expert span.admin {
    padding-left: 5px;
    color: #aeadad;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
#inicio .inicio_news .inicio_img img {
    height: 230px;
    width: 100%;
}
#inicio .inicio_news span.right_msg span {
    font-size: 14px;
    color: #aeadad;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
#inicio .expert a {
    color: #aeadad;
}
#blog .expert p.right_side {
    padding-left: 110px;
}
#inicio p.inicio_news_content {
    color: #646464;
    font-size: 14px;
    padding-bottom: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#inicio a.inicio_link {
    text-transform: uppercase;
    font-weight: 500;
    color: #545353;
    transition: 0.7s;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
#inicio a.inicio_link:hover {
    color: #069ff;
}

.titulo-hello {
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
  font-size: 4em;
}


.titulo-h1 {
  /*text-transform: uppercase;*/
  font-family: 'Happy Monkey', cursive;
  color: white;
  font-size: 3em;
}
.titulo-h2 {
  /*text-transform: uppercase;*/
  font-family: 'Happy Monkey', cursive;
  color: white;
  font-size: 3em;
}
.titulo-h3 {
  /*text-transform: uppercase;*/
  font-family: 'Happy Monkey', cursive;
  color: white;
  font-size: 2em;
}
.titulo-p {
  /*text-transform: uppercase;*/
  font-family: 'Happy Monkey', cursive;
  color: white;
  font-size: 1em;
}
.img-rounded {
  border-radius: 50%;
}

/*End Inicio*/




/*purches*/
section#market {
    padding: 80px;
}

#purches {
    min-height: 200px;
    background: #333333;
}
#purches .purches_title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
#purches h2.purches_title {
    font-size: 36px;
    padding-top: 80px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #ffffff;
}
#purches a.purches_btn {
    float: right;
    margin-top: 80px;
    padding: 8px 58px;
    background: #0069ff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}
div#market-place {
    min-height: 200px;
    border-bottom: 1px solid #bcbaba;
}


/*Contact*/

#contact {
    min-height: 650px;
    background: #E0EBF5;
    padding: 80px 0;
}

.msg {
    padding-top: 50px;
}
input#name,
input#email {

    margin-bottom: 10px !important;
}

.text_area textarea {
    resize: none;
    width: 555px;
}
.text_area textarea,
.form-inline .form-control,
input#name,
input#email,
input#subject{
    border-radius: 0px;
    margin-bottom: 20px;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #d4d4d4;
    font-style: italic;
    color: #696969;
    font-family: 'Open Sans', sans-serif;
}
li.fw-flash-message {
    color: red;
    font-size: 4rem;
}
.msg_title h5 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    color: #222222;
}
.custom-btn {
    padding: 13px 82px;
    background: #0069ff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: 0px;
    border-radius: 2px;
    letter-spacing: 5px;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    outline: 0 !important;
}
.office {
    padding-top: 50px
}
.office .title h5 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    color: #222222;
}
.office_location i span {
    padding-left: 15px;
    color: #696969;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.office_location i {
    padding-bottom: 15px;
}
.office_location {
    color: #696969;
}
.contact_area h3 {
    font-size: 36px;
    padding-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    font-family: 'Roboto Slab', serif;
}
.contact_area p {
    font-size: 16px;
    color: #646464;
    font-family: 'Open Sans', sans-serif;
}
#map {
    width: 100%;
    margin: 0;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    min-height: 300px;
}

/*Footer*/

#footer {
    clear: both;
    background:#202024;
    color: #fff;
    min-width: auto;
    min-height: auto;
    margin-top: 0em;
    bottom: 0px;
    width: 100%;
    border-top: 2px solid grey;
    /*margin-top: 15%;*/
    /*margin-bottom: auto;


    padding: 2px;
    border-top: 1px solid black;
    */

}
#footer .copyright,
#footer .designer {
    padding-top: 45px;
    font-size: 14px;

}
#footer .copyright p {
    text-align: left;
    margin: 0;
}
#footer .designer p {
    text-align: right;
    margin: 0;
}
#footer .copyright p,
#footer .copyright p span a,
#footer .designer p,
#footer .designer a {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding-left: 3px;
}

/*Back to Top*/

#back-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: rgba(84, 225, 0, 0.18);
    color: #ffffff;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: all 0.5s ease;
    opacity: 0;
    display: none;
    background: #0069ff;
}
#back-to-top:hover {
    color: #fff;
    border-radius: 50%;
}
#back-to-top.show {
    opacity: 1;
}

.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: #fff;
    padding-top:0px;
}



/**/

.section-wraper {
    position: relative;
}
.section-edit {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}
.section-abc {
    background: rgba(255, 255, 255, 0.68);
    padding: 2px 5px;
    font-size: 12px;
    font-style: italic;
    display:none;
}
.section-edit:hover .section-abc{
    display:inline;
}
.section-edit .post-edit-link {
    margin: 10px 0;
    padding: 2px 12px;
}
.section-edit .post-edit-link {
    margin: 3px 0;
    padding: 2px 12px;
    font-size: 12px;
    line-height: 1.45;
}
.section-edit .post-edit-link {
    margin: 10px 0;
    display: inline-block;
    background: #E85757 ;
    color: #fff!important;
    padding: 2px 12px;
    border-radius: 3px;
}
.recent-blog .entry-header a {
    font-size: 1.5rem;
}

#cursos {
    color: #fff;
    background: red;
    /*background: url(../assets/novedades_background-1-f3df79a390e66f7e8f0d515557302f74cf0b70b8b533119d14c04993588f67c7.jpg) no-repeat scroll top center / cover;*/
}
.cursos_overlay {
    padding: 80px 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
}
#cursos .cursos_header {
}
#cursos .cursos_header h2 {
    font-size: 46px; /*modificado por el estilo font-family: 'Architects Daughter', cursive;* -- anterior 36px*/
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: 'Galindo', cursive;
    color: #fff;
}
#cursos .cursos_header p {
    font-size: 20px;
    color: #fff;
    font-family: 'Galindo', cursive;
    /*font-family: 'Open Sans', sans-serif;*/
}

.cursos_img img {
    display: block;
    margin: auto;
    width: 440px;
    height: 279px;
}
.cursos_news_img img {
    width: 95px;
    height: 90px;
}

#market-place .fw-single-image img {
    margin: 0 auto;
}


/*.contact_us_padding {
    padding: 80px 0px;
}*/
#contact-us .wel_header {
    padding-top: 0px;
    padding-bottom: 0;
}

#contact-us h3 {
    font-size: 36px;
    padding-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    font-family: 'Roboto Slab', serif;

}

#contact-us .wel_header h5 {
    text-align: left;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    color: #222222;
    padding-top: 0px
}
#contact-us .office_location i {
    padding-bottom: 15px;
}
#contact-us .office_location i span {
    padding-left: 15px;
    color: #696969;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

#contact-us .form-group {
    margin-bottom: 0;
}
.wel_header.contact_us_h5 {
    margin-left: -15px !important;
}
/*input#name,label.input,label.textarea,textarea.form-control {
    width: 100%;
}*/

#slider .carousel-indicators {
    bottom: 70px;
}

ul.entry-meta {
    text-align: left;
}
.btn-primmary{
    background-color: #0069ff;
    padding: 10px 30px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #ffffff;
}
#commentform #comment {
    padding-left: 10px;
    margin-top: 10px;
}
.widget_search .search-form input[type="submit"], .widget_search input[type="submit"] {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
.widget_search .search-form input[type="search"], .widget_search input[type="search"] {
    padding: 0 40px;
}
.main-content.blog-w.rap,.main-content.container.blog-wrap.single-blog {
    margin-top: 80px;
}

/*Imagen responsive*/
.image-responsive {
  width: 100%;
  margin: auto;
  text-align: center;
}

.white-color {
  color: #fff;
}

/*Text center*/
.text-center {
  text-align: center;
}

.hidden {
    display: none;
}

.carousel-inner > .item > img {
  object-fit: scale-down;
  height: 50vh;
  width: 100%;
}

.fondo_cursos_general {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-color: #2d5ea3;
    /*background-color: #000154;*/
    /*border-radius: 1%;*/
    margin: auto;
    height: 450px;
  }

/* Imagen resize */
.img-resize {
  width: 712px;
  height: 350px;
  border-radius: 1%;
}


.img-resize-post {
  width: 260px;
  height: 75px;
  border-radius: 1%;
}
