<%= form_with(model: exam, local: true)  do |f| %>

  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this Examen from being saved:</h2>

      <ul>
      <% exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :titulo %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :contenido %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :Upload_Imagen, class:'control-group' %>
    <%= f.file_field :cover, class:'btn btn-info' %>
    <%= f.label :Subir_imagenes_con_formato_jpg_jpeg_png %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
