<div class="container">
  <br>
    <h1>Editing Examenes</h1>

    <%= render 'form', exam: @exam %><br>

    <%= link_to 'Vista Previa', @exam, class:'btn btn-success' %>
    <%= link_to 'Regresar a Examenes', exams_path, class: 'btn btn-primary' %>

</div>
<br>

<style>
  #footer {
    margin-top: 10.75%;
  }
</style>
