<!--Start of blog-->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest_blog text-center">
                  <div class="titulo-h1">
                     EXÁMENES
                  </div>
                    <div class="content-p">En CITUS School of English preparamos a nuestros alumnos para rendir los exámenes internacionales de la Universidad de CAMBRIDGE,
                  TOEFL y TRINITY que son indicadores reconocidos mundialmente como nivel superior de inglés aprendido.</div>
                </div>
            </div>
        </div>
        <!--End of row-->
        
        <% @exams.each_with_index do |exam, index| %>
            <% if index % 3 == 0 %>
                <div class="row" style='margin-top: 20px;'>
            <% end %>

            <div class="col-md-4">
                <div class="blog_news">
                    <div class="single_blog_item">
                         <div class="blog_img">
                         <%# image_tag("trinity#{index+1}.jpg", :alt => 'photo', :height=> "300" , :width =>"300") %>
                         <img src="/examenes/<%= exam.id %>/cover/<%= exam.cover_filename %>" /> 
                        </div> 
                        <div class="blog_content">
                          <div class="examenes_header-h2">
                            <%= link_to truncate(exam.title, :length => 36), exam %>
                          </div>
                            <div class="expert">
                                <p class="content-p"><%= truncate exam.content, :length => 133 %></p>
                            </div>
                            <% if user_signed_in? %>
                                <div class="form-group">
                                <br>
                                <%= link_to 'Show', exam, class: 'btn btn-info' %>
                                <%= link_to 'Edit', edit_exam_path(exam), class: 'btn btn-success' %>
                                <%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>

            <% if index % 3 == 2 %>
                </div>
            <% end %>
        <% end %>

        </div>
        <!--End of row-->
    </div>
    <!--End of container-->
</section>
<!-- end of blog-->
<div class="container">
<% if user_signed_in? %>
<div class='nav navbar-right'>
  <%= link_to 'New Examen', new_exam_path, class: 'btn btn-primary' %>
</div>
<% end %>
</div>
