<div class="container">
    <br>
    <h1>Examenes Internacionales </h1>

    <%= render 'form', exam: @exam %> <br>
    <%= link_to 'Regresar a Examenes', exams_path, class: 'btn btn-primary' %>

</div>
<br>
