<section id="blog">
  <div class="container">
    <div class="row">
      <divl class="col-md-12">
        <div class="latest_blog text-center">

          <div class="titulo-h1">
            <%= @exam.title %>
          </div>
          <div class="content-p">
            <%= @exam.content %>
          </div>
            <br>
            <%# image_tag "/examenes/#{@exam.id}/cover/#{@exam.cover_filename}" if @exam.cover_filename? %>
            <%= image_tag "/examenes/#{@exam.id}/cover/#{@exam.cover_filename}" if @exam.cover_filename? %><br>
            <br>

            <br>
            <br>
            <% if user_signed_in? %>
            <%= link_to 'Edit', edit_exam_path(@exam), class: 'btn btn-success' %>
            <% end %>
            <%= link_to 'Regresar a Examenes', exams_path, class: 'btn btn-primary' %>
          <br>
          <br>
        </div><!--end novedad_header -->
      </div> <!--end col-md-12-->
    </div>  <!-- end row -->
  </div><!--end container-->
</section><!-- end section -->
<br>

</div>
<br>
