<%= form_for(inicio) do |f| %>
  <% if inicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inicio.errors.count, "error") %> prohibited this inicio from being saved:</h2>

      <ul>
      <% inicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :titulo %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :contenido %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

 <div class='form-group'>
    <%= f.label :Upload_Imagen, class:'control-group' %>
    <%= f.file_field :cover, class: 'btn btn-info' %>
    <%= f.label :Subir_imagenes_con_formato_jpg_jpeg_png %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary'%>
  </div>
<% end %>
