<div class="container">
  <br>
    <h1>Editing Inicio</h1>

  <%= render 'form', inicio: @inicio %><br>

  <%= link_to 'Vista Previa', @inicio, class:'btn btn-success'  %>
  <%= link_to 'Regresar a Inicio', inicios_path , class: 'btn btn-info'%>

</div>
<br>
