<!--Start of slider section-->
<section id="slider">
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="slider_overlay">
              <img src="/assets/citus_front-1-e1f71aed5da3763ed226c4823b0f5e2d151633a62f197e76a25db70eae168247.jpg" alt='Citus Insitute' %>

                <div class="carousel-caption">
                    <div class="slider_text">
                        <!-- <h2>Citus</h2>
                        <h3>School of English</h3>
                        <p>Tu lugar para estudiar Ingles!</p> -->
                        <!-- <a href="" class="custom_btn">Leer Mas...</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!--End of item With Active-->
        <div class="item">
            <div class="slider_overlay">
              <%= image_tag('english.jpg', :alt => 'english') %>
              <!-- <img src="assets/img22-30efad2ae2f93b0521f74b68275e56fce5da9287282fe226414a15c33266cadc.jpg" alt="img2"> -->
                <div class="carousel-caption">
                    <div class="slider_text">
                        <!-- <h2>Citus</h2>
                        <h3>School of English</h3>
                        <p>Tu lugar para aprender Ingles!</p> -->
                        <!-- <a href="" class="custom_btn">Leer Mas...</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!--End of Item-->
        <div class="item">
            <div class="slider_overlay">
                <%= image_tag('english2.jpg', :alt => 'english2') %>
              <!-- <img src="assets/img33-0398f490532b14a770aaa0c169f3f8fd78ef1c3da0222d483cfee81da3b68152.jpg" alt="img3"> -->
                <div class="carousel-caption">
                    <div class="slider_text">
                        <!-- <h2>Citus</h2>
                        <h3>School of English</h3>
                        <p>Tu lugar en el mundo!</p> -->
                        <!-- <a href="" class="custom_btn">Leer Mas...</a> -->
                    </div>
                </div>
            </div>
        </div><!--End of item-->
      </div><!--End of Carousel Inner-->
    </div>
</section>
<!--end of slider section-->
<!--Start of Inicio-->
<section id="inicio">
    <div class="container">
        <% if user_signed_in? %>
            <div class="nav navbar-right">
              <%= link_to 'New Inicio', new_inicio_path, class: 'btn btn-primary' %>
            </div>
        <% end %>
        <div class="row">
                <!-- <div class="jumbotron"> -->
                    <div class="latest_inicio text-center">
                        <div class="titulo-hello">Hello People..!!!</div>
                        <div class="titulo-h2"><%= @inicios.try(:first).try(:title) %></div>
                        <% @inicios.each do |inicio|%>
                          <div class="titulo-h3"><%= inicio.content %></div><br>
                          <img src="/inicios/<%= inicio.id %>/cover/<%= inicio.cover_filename %>" />
                          <br><br>
                          <p><%= link_to('Continuar leyendo...', inicio ,class:'btn btn-primary btn-lg')%></p><br>

                        <% end %>
                    </div> <!-- End latest_inicio text-center -->
                <!-- </div><!-- simple jumbotron-->
        </div><!--End of row-->
      </div><!--End of container-->
</section><!-- end of inicio-->
