<div class="container">
  <br>
  <h1>New Inicio</h1>

    <%= render 'form', inicio: @inicio %> <br>
    <%= link_to 'Regresar a Inicio', inicios_path, class: 'btn btn-primary'%>

</div>
<br>
<style>
  #footer {
    margin-top: 9.75%;
  }
</style>
