<p id="notice"><%= notice %></p>


<section id="inicio">
    <div class="container">
        <% if user_signed_in? %>
            <div class="nav navbar-right">
              <%= link_to 'New Inicio', new_inicio_path, class: 'btn btn-primary' %>
            </div>
        <% end %>
        <div class="row">

                    <div class="latest_inicio text-center">

                        <div class="titulo-h2"><%= @inicio.title %><br>
                            <h3><%= @inicio.content %></h3>
                            <br/>
                        <%= image_tag "/inicios/#{@inicio.id}/cover/#{@inicio.cover_filename}" if @inicio.cover_filename? %>
                        <br>
                        <br>

                </div>

              <%if user_signed_in?%>
                  <%= link_to 'Edit', edit_inicio_path(@inicio) , class: 'btn btn-success'%>
                <% end %>
                <%= link_to 'Volver a Inicio', inicios_path , class: 'btn btn-primary' %>
        </div><!--End of row-->
      </div><!--End of container-->
</section><!-- end of inicio-->

<style>
#footer {
  margin-top: 2%;
}

</style>
