<!--Start of footer-->
<section id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8">
                <div class="copyright">
                 <p> Copyright &copy; <%= link_to 'CITUS School of English', 'http://citusweb.com.ar'%> 2000 - <span><%= Date.today.year %></span> &#8212; All Rigths Reserved</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="designer">
                    <h6>Created by <%= link_to 'TINIXTECH.COM', 'http://tinixtech.com' %></h6>
                </div>
            </div>
        </div>
        <!--End of row-->
    </div>
    <!--End of container-->
</section>
<!--End of footer-->
 
