<div class="header_menu text-center" data-spy="affix" data-offset-top="50" id="nav">
  <div class="container">
    <nav class="navbar navbar-default zero_mp">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand custom_navbar-brand">
          <%# link_to (image_tag('logo.png', :alt => 'logo')), "http://citusweb.com.ar" %>
          <%= image_tag('logo.png', :alt => 'logo-Citus') %></a>
      </div>
      <!--End of navbar-header-->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse zero_mp" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right main_menu">
          <li class="<%= active_action?(params, 'inicios') %>"><%= link_to 'Inicio', root_path %></li>
          <li class="<%= active_action?(params, 'nosotros') %>"><%= link_to 'Conocenos',nosotros_index_path %></li>
          <li class="<%= active_action?(params, 'cursos') %>"><%= link_to 'Cursos',cursos_index_path %></li>
          <li class="<%= active_action?(params, 'exams') %>"><%= link_to 'Examenes', exams_path %></li>
          <li class="<%= active_action?(params, 'novedades') %>"><%= link_to 'Novedades', novedades_index_path %></li>
          <li class="<%= active_action?(params, 'blogs') %>"><%= link_to 'Blog', blogs_path %></li>
          <li class="<%= active_action?(params, 'contacts') %>"><%= link_to 'Contacto', new_contact_path%></li>

          <% if user_signed_in? %>
            <!--<li><%# link_to 'Admin Panel', '/admin'%></li> -->
            <li><%= link_to('Cerrar Sesión',destroy_user_session_path, method: :delete) %></li>
          <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
    <!--End of nav-->
  </div>
  <!--End of container-->
</div>

