<!DOCTYPE html>
<html>
  <head>
    <title>Citus School English | Tu lugar! </title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Galindo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <meta name="google-site-verification" content="google03f55790f1cbd5fe"

    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head><!--Ended header -->


   <body data-spy="scroll" data-target="http://citusweb.com.ar">
<!-- start facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- end facebook -->

      <!--Start Hedaer Section-->
      <section id="header">
          <div class="header-area">
              <div class="top_header">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                              <div class="phone">
                                  <i class="glyphicon glyphicon-home"></i>
                                  <!-- <i class="fa fa-home floatleft"></i> -->
                                  <p>Luis Agote 2585, Los Naranjos,Córdoba Argentina</p>
                              </div>
                          </div>
                          <!--End of col-md-4-->
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                              <div class="phone">
                                <i class="glyphicon glyphicon-earphone"></i>
                                  <p>+ 54 0351 466-4378</p>
                              </div>
                          </div>
                          <!--End of col-md-4-->
                          <div class="col-md-4">
                              <div class="social_icon text-right">
                                <%= link_to 'https://www.facebook.com/citusweb/', target: :_blank do %>
                                  <%= image_tag('facebook.png',width: '20px' ,class: :facebook_icon, :alt => 'Facebook') %>
                                <% end %>

                                <%= link_to 'https://twitter.com/citusweb', target: :_blank do %>
                                 <%= image_tag('twitter.png', width: '20px', class: :twitter_icon, :alt => 'twitter') %>
                                 <% end %>

                                  <%= link_to 'https://youtube.com/citus', target: :_blank do %>
                                  <%= image_tag('youtube.png', width: '20px', class: :youtube_icon, :alt => 'youtube' ) %>
                                  <% end %>

                                <%= link_to 'https://instagram.com/citusweb/', target: :_blank do %>
                                <%= image_tag('instagram.png', width: '20px', class: :instagram_icon, :alt => 'instagram' ) %>
                                <% end %>

                              <!-- Begin-Auth -->
                                  <% if user_signed_in? %>
                                    <%= link_to(current_user.email, '/admin') %>
                                    <%= link_to(image_tag('cerrar.png', width: '20px'), destroy_user_session_path, method: :delete)%>
                                  <% else %>
                                    <%= link_to(image_tag('login.png',width: '20px'), '/users/sign_in')%>
                                  <% end %>
                                <!-- End-Auth -->

                              </div>
                          </div>
                          <!--End of col-md-4-->
                      </div>
                      <!--End of row-->
                  </div>
                  <!--End of container-->
              </div>
              <!--End of top header-->
              <%= render 'layouts/header' %>
              <!--End of header menu-->
          </div>
          <!--end of header area-->
      </section>
      <!--End of Header Section-->
    <br><br>
    <%= yield %>
  </div>
    <%= render 'layouts/footer' %>
  </body>
</html>

<script>
  img {
      max - width: 100 %;
      height: auto;
      border - color: #000;
      border - radius: 1 %;
      margin - top: 10 %;
    }
</script>
